In [6]:


import pandas as pd
import numpy as np
import os

#---------Anaylsis of responses for difficulty of ontology user interfaces----------
#Four interfaces include: Wizard, Quick Form, WebProtege, and Wiki Data

df = pd.read_csv('Comparison2.csv')
#read Session 2 Comparison Questionnaire CSV file, raw data


#to read column headers use print(comparison2.columns)

df.describe()
#Statistical summary of User-study Session 2 responses from participants after using the software

,Difficulty_Wizard,Difficulty_QuickForm,Difficulty_WebProtege,Difficulty_WikiData,Helpfulness_Wizard,Helpfulness_QuickForm,Helpfulness_WebProtege,Helpfulness_Wiki
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,2.161290,1.290323,2.903226,3.645161,2.161290,2.580645,2.548387,2.709677
std,0.734701,0.642575,0.700230,0.754912,1.003221,1.285151,0.994609,1.160274
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,3.000000,4.000000,1.000000,1.000000,2.000000,2.000000
50%,2.000000,1.000000,3.000000,4.000000,2.000000,2.000000,3.000000,3.000000
75%,3.000000,1.000000,3.000000,4.000000,3.000000,4.000000,3.000000,4.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [3]:
#Difficulty - breakdown of ranking for difficulty given by study participants after using the interface. 
#Columns broken down for Wizard, QuickFrom, WikiData, and WebProtege
difficulty =df[['Difficulty_Wizard','Difficulty_QuickForm','Difficulty_WikiData','Difficulty_WebProtege']]

difficulty_long=pd.melt(difficulty, var_name='Tool', value_name='Rating')
variable_split=difficulty_long['Tool'].str.split('_')
variable_split=variable_split.str[1]                              
difficulty_long['Tool']=variable_split
difficulty=difficulty_long[['Tool','Rating']]

#difficulty

In [4]:
#Frequency Table - frequency of responses per ranking category
#Rating of 1 is easiest & 4 is the most difficult
difficulty_table=pd.crosstab(difficulty_long.Rating, difficulty_long.Tool)
difficulty_table

Tool    QuickForm  WebProtege  WikiData  Wizard
Rating
1              24           1         1       5
2               6           6         2      17
3               0          19         4       8
4               1           5        24       1

In [31]:
#Pivot Table
difficulty_pivot=difficulty_long.pivot_table(values='Rating', columns='Tool').round(0).astype(int).mode()
difficulty_pivot.reindex(columns=['QuickForm', 'Wizard', 'WebProtege', 'WikiData']).style.hide_index()

In [16]:
#Total responses for difficulty
pd.value_counts(difficulty['Tool'])

QuickForm     31
WikiData      31
WebProtege    31
Wizard        31
Name: Tool, dtype: int64

In [9]:
#Ranked total - participants given a scale of 1-4 with 1 being easier to use & 4 harder to use.
#Scale - lower total (easier) - higher total (harder)
difficulty2 = difficulty.groupby(['Tool'], as_index=False).sum()
difficulty2.sort_values(by='Rating')

         Tool  Rating
0   QuickForm      40
3      Wizard      67
1  WebProtege      90
2    WikiData     113

In [10]:
#Summary of what respondents selected when ranking difficultyfor Wizard
#17 people ranked it as 2 withing the 1-4 difficulty scale
df.groupby('Difficulty_Wizard').size()

Difficulty_Wizard
1     5
2    17
3     8
4     1
dtype: int64

In [13]:
#Summary of what respondents selected when ranking difficulty for WikiData
#24 people ranked it as 4 withing the 1-4 difficulty scale (hardest)
df.groupby('Difficulty_WikiData').size()

Difficulty_WikiData
1     1
2     2
3     4
4    24
dtype: int64

In [14]:
#Summary of what respondents selected when ranking difficulty for WikiData
#19 people ranked it as 3 within the 1-4 difficulty scale (hardest)
df.groupby('Difficulty_WebProtege').size()

Difficulty_WebProtege
1     1
2     6
3    19
4     5
dtype: int64